# npm provenance configuration for Sigstore attestation
# This enables cryptographic signing of package artifacts during publish
# See: https://docs.npmjs.com/generating-provenance-statements
provenance=true
